@import '../../styles/colors.scss';
@import '../../styles/viewports.scss';

.gifts {
  max-width: 330px;
  text-align: right;
  padding-top: 17px;

  &__title {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 42px;
  }

  &__title-gradient {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.7px;
    background-image: linear-gradient(90deg, $orange, $red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 135px);
    gap: 32px 30px;
    margin-bottom: 62px;
    width: min-content;
    margin-left: auto;
  }

  &__gift {
    display: block;
    margin-bottom: 7px;
    font-size: 18px;
    font-weight: 500;
    width: max-content;
    margin-left: auto;
    letter-spacing: 0.6px;
    text-transform: uppercase;
  }

  &__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
  }

  &__button {
    background-color: $blue;
    padding: 21px 35px;
    font-weight: 500;
    border: none;
    color: $light-gary;
    cursor: pointer;

    &:hover {
      filter: brightness(1.5);
    }
  }

  &__gift--mobile {
    display: none;
  }
}

@media (max-width: $tablet-desktop) {
  .gifts {
    max-width: none;
  }
}

@media (max-width: $mobile-tablet) {
  .gifts {
    max-width: 272px;
    margin: 0 auto;
    text-align: left;

    &__title {
      margin-bottom: 20px;
    }

    &__title-gradient {
      text-transform: none;
      letter-spacing: -0.2px;
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(2, max-content);
      gap: 14px 8px;
      width: auto;
      margin-left: 0;
    }

    &__gift {
      display: none;
      position: relative;
      margin-left: 0;
      font-family: 'Montserrat', sans-serif;
    }

    &__gift::before {
      position: absolute;
      content: '';
      top: 50%;
      transform: translateY(-50%);
      left: 1px;
      width: 10px;
      height: 1px;
      background: linear-gradient(90deg, $orange, $red);
    }

    &__gift--mobile {
      display: block;
      margin-bottom: 0;
      font-weight: 400;
      font-size: 13px;
      padding-left: 17px;
    }

    &__button {
      display: none;
    }

    &__text {
      display: none;
    }
  }
}
