@import "../../styles/colors.scss";
@import "../../styles/viewports.scss";

.inforamtion {
  max-width: 362px;
  margin-left: -2px;

  &__title {
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 30px;
  }

  &__title-gradient {
    font-weight: 900;
    margin-top: -2px;
    display: block;
    background-image: linear-gradient(90deg, $orange, $red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__text {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    max-width: 275px;
  }
}

@media (max-width: $tablet-desktop) {
  .inforamtion {
    max-width: none;
    margin-left: 0;
    margin-bottom: 40px;

    &__text {
      max-width: none;
    }
  }
}

@media (max-width: $mobile-tablet) {
  .inforamtion {
    margin: 0 auto;
    max-width: 272px;
    margin-bottom: 29px;

    &__title {
      font-size: 36px;
      margin-bottom: 16px;
    }

    &__title-gradient {
      margin-top: -1px;
    }
  }
}
